%h3
  СЕО

  = link_to 'Создать', new_set_path, class: 'btn btn-success pull-right'

%table.table.table-striped.table-bordered.col-md-12
  %tr
    %th #
    %th Url
    %th Title
    %th Meta Description
    %th Meta Keywords
    %th Images Alt
    %th Действия


  - @list.each do |item|
    %tr
      %td= item.id
      %td= item.url
      %td= item.title
      %td= item.description
      %td= item.keywords
      %td= item.images_alt
      %th
        = link_to edit_set_path(item), class: 'btn btn-warning btn-xs' do
          %i.glyphicon.glyphicon-pencil
        = link_to set_path(item), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger btn-xs' do
          %i.glyphicon.glyphicon-remove

= will_paginate @list
